footer {
  padding: 2em;
  margin-top: 4em;
  background-color: #ededed;
}
.ta-footer-row-one {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1.2fr;
  gap: 1em;
}

.ta-footer-row-two {
  display: flex;
  gap: 2em;
}

.ta-footer-email-form {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  input {
    flex: 1;
    height: 40px;
  }
  button {
    background-color: #292929;
    border: none;
    outline: none;
    width: 60px;
    height: 40px;
    svg {
      width: 20px;
      &:hover {
        background-color: #111;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .ta-footer-row-one {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (max-width: 780px) {
  .ta-footer-row-one {
    grid-template-columns: 1fr;
    .ta-nav-items {
      padding-left: 1em;
      display: block;
      .ta-nav-item {
        padding: 1em 0;
      }
    }
  }

  .ta-footer-row-two {
    flex-direction: column;
    p {
      order: 1;
    }
    .ta-nav-items {
      padding-left: 1em;
      display: block;
      .ta-nav-item {
        padding: 1em 0;
      }
    }
  }
}
